#side-nav {
    width: 20%;
    float: left;
    margin-left: -30%;
    border: solid lightgray;
}

#helper-button {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    right: 0;
}


@media only screen and (max-width: 1851px) {

    #side-nav{
        display: none;
        position: fixed;
        bottom: 0;
        right: 0;
    }

}

@media only screen and (max-width: 971px) {

    #side-nav{
        width: 40%;
    }

}
